<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".FolioApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Folio"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true">

        <!-- MainActivity is launched via the per-appearance activity-aliases below
             (the Appearance switcher); exactly one alias is enabled at a time. -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Folio" />

        <activity-alias
            android:name=".LauncherCharcoal"
            android:exported="true"
            android:targetActivity=".MainActivity"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".LauncherEvergreen"
            android:exported="true"
            android:targetActivity=".MainActivity"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher_evergreen"
            android:roundIcon="@mipmap/ic_launcher_evergreen"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".LauncherSlate"
            android:exported="true"
            android:targetActivity=".MainActivity"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher_slate"
            android:roundIcon="@mipmap/ic_launcher_slate"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".LauncherOcean"
            android:exported="true"
            android:targetActivity=".MainActivity"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher_ocean"
            android:roundIcon="@mipmap/ic_launcher_ocean"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".LauncherPlum"
            android:exported="true"
            android:targetActivity=".MainActivity"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher_plum"
            android:roundIcon="@mipmap/ic_launcher_plum"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".LauncherPaper"
            android:exported="true"
            android:targetActivity=".MainActivity"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher_paper"
            android:roundIcon="@mipmap/ic_launcher_paper"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".LauncherClay"
            android:exported="true"
            android:targetActivity=".MainActivity"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher_clay"
            android:roundIcon="@mipmap/ic_launcher_clay"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".LauncherIndigo"
            android:exported="true"
            android:targetActivity=".MainActivity"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher_indigo"
            android:roundIcon="@mipmap/ic_launcher_indigo"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".LauncherWine"
            android:exported="true"
            android:targetActivity=".MainActivity"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher_wine"
            android:roundIcon="@mipmap/ic_launcher_wine"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    </application>
</manifest>
